body {
    background-color: floralwhite;
    font-family: sans-serif;
    color: #EB3B88;
    width: 950px;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

h1, h2 {
    color: darkblue;
}


nav ul {
	background-color: #EB3B88;
	padding: 0.4em 0;
}

nav li {
	display: inline;
}

nav li a {
	color: white;
	font-weight: bold;
	padding-left: 0.5em;
	text-decoration: none;
	vertical-align: middle;
}

nav li a:hover {
	color: #FFC2DC;
}

.fout {
    display: none;
    color: #EB3B88;
    font-size: small;
}

.form label {
    display: block;
    margin-bottom: 2px;
}

.form input {
    border: 1px solid #FFC2DC;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px #FFD5E7;
    -moz-box-shadow: inset 1px 1px 4px #FFD5E7;
	-webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
	background: #FFEFF6;
}

button {
    background: #EB3B88;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: floralwhite;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:  #FFCBE2;
    color:  #EB3B88;
}

button:active {
    position:relative;
    top:1px;
}


#wachten {
    display: none;
}

table {
    font-family: Verdana;
    font-size: 14px;
    border-collapse: collapse;
  }
  
  td, th {
    padding: 10px;
    text-align: left;
    margin: 0;
  }
  
  tbody tr:nth-child(2n){
    background-color: rgb(255, 236, 244);
  }
  
  th {
    position: sticky;
    top: 0;
    background-color: rgb(243, 144, 188);
    color: white;
  }

  .hidden {
      display: none;
  }
#coin {
	height:2%;
	width: 2%;
}

dl {
    border: 3px double #EB3B88;
    padding: 0.5em;
  }
  dt {
    float: left;
    clear: left;
    width: 120px;
    text-align: left;
    font-weight: bold;
    color: #EB3B88;
  }
  dt::after {
    content: ":";
  }
  dd {
    margin: 0 0 0 130px;
    padding: 0 0 0.5em 0;
  }


#foto {
	height:10%;
	width: 10%;
}

#resultaten {
    margin-top: 10px;
}
